
#detail-card-header  div  {
  color: olive;

/*
  background-color: #FFA500;
 */
 
 background-color: #FFDEAD;    
 
 }  

 
 #group {
color : olive  ;
  }
 

 #Txt {
color : olive  ;
  }
 
 
 
#top  a {
 	 
    
}
