<!DOCTYPE html>
<html>
<div class="container"  style="width: 65%;"  >

<div class="row"> 
     
	 <div class="col"  style ="color: #FF0000; ">
      <h4>Readonly Form</h4>
	 
    </div>
	
    
</div>

	  <!-- Write your comments here -->
   
</div>
 
       
	  
	 

<form [formGroup]="readForm" (ngSubmit)="onSubmit(readForm)" >

    <!--
	<input formControlName="medlemId"
           id="medlemId"
           type="text"  />
	 
	 <br/>

 <br/>

 
	<input formControlName="medlem_Id"
           id="medlem_Id"
           type="text"  />
	 
-->

	 
        	  <!--   type="hidden" />  -->
			  

<div class="container"   style="width: 65%;">
      	  
<div class="row"   style ="border-color: #FFDEAD;background-color: #FF0000; ">

  <div class="col"  >
      <li class="list-group-item"   style ="border-color: #FFDEAD;color: green;background-color: #FFDEAD; "><b>Fornavn:</b> 
	  <input formControlName="fornavn"    readonly  
               id="fornavn"
               type="text"
               class="form-control"    style ="border-color: #FFDEAD;background-color: #FFDEAD; "/>
       </li>
</div>


  <div class="col"  >      <li class="list-group-item"   style ="border-color: #FFDEAD;color: green;background-color: #FFDEAD; ">
  <b>mobil tlf:</b> 
	  <input formControlName="mobilTlf"     readonly
               id="mobilTlf"
               type="number"
               class="form-control"    style ="border-color: #FFDEAD;background-color: #FFDEAD; "/>
       </li>
</div>

  <div class="w-100"></div>

  <div class="col">	
      <li class="list-group-item"   style ="border-color: #FFDEAD;color: green;background-color: #FFDEAD; "><b>Etternavn:</b> 
	  <input formControlName="etternavn"     readonly
               id="etternavn"
               type="text"
               class="form-control"   style ="border-color: #FFDEAD;background-color: #FFDEAD; "/>
       </li>
</div>


  <div class="col">     
      <li class="list-group-item"   style ="border-color: #FFDEAD;color: green;background-color: #FFDEAD; "><b>email:</b>
	  <input formControlName="email"    readonly
               id="email"
               type="email"
               class="form-control"   style ="border-color: #FFDEAD;background-color: #FFDEAD; "/>
</li>
</div>


</div>

</div>

    

<div class="container"  style="width: 65%;"  >

<div class="row"     style ="border-color: #FFDEAD;color: green;background-color: #FF0000; ">
  <div class="col">      <li class="list-group-item"   style ="border-color: #FFDEAD;background-color: #FFDEAD; ">
  <b>fodseldato (dd-mm-yyyy):</b> 
  
  <input formControlName="fodselsdato"    readonly
               id="fodselsdato"
               type="text"
               class="form-control"    style ="border-color: #FFDEAD;background-color: #FFDEAD; " />
</li>
</div>




  <div class="col">      <li class="list-group-item"   style ="border-color: #FFDEAD;background-color: #FFDEAD; ">
  <b>bosted:</b> 
  
  
  
  <input formControlName="bosted"    readonly
               id="bosted"
               type="text"
               class="form-control"    style ="border-color: #FFDEAD;background-color: #FFDEAD; "/>
</li>
</div>

        	  <!--   type="hidden" />  

  <div class="col">    <li class="list-group-item"   style ="border-color: #FFDEAD;background-color: #FFDEAD; ">
  <b>kontingent:</b>
  

	        <select formControlName="positionId"
              id="positionId"
              class="form-control">
        <option value="">- Select -</option>
        <option *ngFor="let position of positions" [ngValue]="position.id">
          {{position.name}}
        </option>
      </select>

</li></div>
 -->
    
  <div class="w-100"></div>

  <div class="col">   <li class="list-group-item"   style ="border-color: #FFDEAD;background-color: #FFDEAD; ">
  <b>kontingent:</b> 
  

          	  <!--
  <input formControlName="currentKontintId"
               id="currentKontintId"    type ="hidden"
               type="number"
               class="form-control" /> {{ medlem.kontingent?.name }}
            -->
			
			
   
	        <select formControlName="currentKontintId"      readonly  
       
              id="currentKontintId"     style ="border-color: #FFDEAD;background-color: #FFDEAD; "
              class="form-control"      >

			  <!--
			  [ngClass]="{'is-invalid': createForm.get('currentKontintId').hasError('required') }"
		
			 [class.valid]="createForm.get('currentKontintId').valid"
			 
			 		 [class.invalid]="createForm.get('currentKontintId').invalid"    >   

              -->


			  <!--
					 
 <option value=""> - select -</option>
               -->
			   
 
        <option *ngFor="let ko of kontingents" [ngValue]="ko.kontintId">
          {{ ko.name }}
        </option>		             
             </select>
			 
	  		   
			   
			   
			   </li>
</div>
 
  <div class="col"></div>
     
</div>

</div>


<div class="container"   style="width: 65%;">

<!-- Write your comments here -->

<!--
<div class="row"   style ="background-color: #50c878; ">
<div class="container"   style="width: 65%;">

-->    
 
 <div>
   <li class="list-group-item"  style ="border-color: #50c878;background-color: #50c878 ">   
   
                                                                                                                                                                                                           
	<a href="#" [routerLink]="['/medlems/', medlem.medlem_Id, 'edit']" class="btn btn-primary btn-sm">Redigere</a>&nbsp;
	
   <button type="button" (click)="deleteMedlem(medlem.medlem_Id)" class="btn btn-danger btn-sm">Delete</button>&nbsp;	
   
   <a href="#" routerLink="/medlems/list" class="btn btn-secondary btn-sm">Medlemsliste</a>
   </li>
    
   </div>
   
   </div>
	   </form> 
     	     
	 
</html>       