   
<!DOCTYPE html>
<html lang="en">


<h1>Hallo</h1>

<head>
<meta charset="UTF-8">   
<style>
body {
  color: olive;
}

h1 {
  color: olive;        
}
</style>

</head>

<body>

Welcome to my demo application, the demo application is made by using ASPNet Core and Angular and
 Sql server and Entity framework.
 

<ul>
  <li>ASP.NET Core and C# for cross-platform server-side code</li>
  <li>Angular and TypeScript for client-side code</li>
  <li>Bootstrap for layout and styling</li>
   <li>Sql Server and Entityframework for database</li>
</ul>

You can click on the top menu Medlem to the right corne, you will come to main page Medlem List 

    
<ul>
  <li><strong>Main page Medlem List </strong>, This is a list of all members, their name and 
  other info about them 
   </li>
  
  <li>  <a   href=""  >   
  <img   src="assets/m.png"   style="width:30px;height:30px;">    
  </a>
  Click on this icon to see more info about one specific member
</li>
<li>You can run follwing operations to database</li>
<li>Add a new member to database</li>
<li>Update info about one member in database</li>
<li>Delete one member from database</li>
<li>Search one member from database</li>  
you can search for one member by enter only first name or only last name or both like this: first name  last name, for example
Andy Murray,     
<br/>
Primary key is Guid.
<br/>
Enjoy the demo application, best regards
<br/>
developer Nguyen

</ul>

</body>

