<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">angular_new_app</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
	  
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
	  
	  
        <ul class="navbar-nav flex-grow">
            
		  <li   id="dum"   
            class="nav-item"
            [routerLinkActive]="['link-active']"  [routerLinkActiveOptions]="{ exact: true }"
          >
		  
            <a    id="dum250"    class="nav-link "       [routerLink]="['/']">Welcome Page</a>
          </li>


	  
	  <!-- Write your comments here 
		  
		  
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']"
              >Counter</a
            >
          </li>
      -->
     
		    
          <li class="nav-item"     [routerLinkActive]="['link-active']">
            <a     id="dum2"   class="nav-link "        [routerLink]="['/fetch-data']"
              >fetch-data</a
            >
          </li>

		     
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a     id="dum25"   class="nav-link  "      [routerLink]="['/medlems']"
              >Medlem</a
            >
          </li>

		  
		  </ul>
		  
      </div>
    </div>
  </nav>
</header>
